{% extends 'core/base.html' %}
{% load static %}
{% block bloque_titulo %}
    Ver una publicacion
{% endblock bloque_titulo %}
{% block bloque_header %}
    <header class="post" style="background-image: url('{{ object.imagen.url }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ object.titulo }}</h1>
                        <h2 class="subheading">{{ object.subtitulo }}</h2>
                        <span class="meta">
                            Posteado por {{ object.autor }} el {{ object.fecha_creacion }}.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock bloque_header %}

<!-- Post Content -->
{% block bloque_contenido %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ object.contenido | safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock bloque_contenido %}
