{% extends 'core/base.html' %}

{% block bloque_header %}
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-4">
                    <h1 class="text-center display-4 fw-bolder">
                        {% if request.user.is_authenticated %}
                            {% if request.user.first_name %}
                                ¡Bienvenido, {{ request.user.first_name }}!
                            {% else %}
                                ¡Bienvenido!
                            {% endif %}
                        {% else %}
                            Viajar es un placer!!!!! 
                            Y aqui te conectamos con viajeros de todos el mundo
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </header>
{% endblock bloque_header %}