{% extends 'core/base.html' %}

{% block bloque_titulo %}
    Listado de mensajes
{% endblock bloque_titulo %}

{% block bloque_estilos %}
<style>
    /* Estilos CSS */
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    .detalle-conversacion {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5dc; /* Beige muy clarito */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .mensaje {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        display: flex;
    }
    .mensaje .contenido {
        padding: 5px 10px;
        border-radius: 10px;
        max-width: 70%;
    }
    .mensaje.enviado .contenido {
        background-color: #DCF8C6;
        margin-left: auto; /* Alinea el contenido a la derecha */
    }
    .mensaje.recibido .contenido {
        background-color: #EAEAEA;
        margin-right: auto; /* Alinea el contenido a la izquierda */
    }
    .mensaje .de_user {
        font-weight: bold;
    }
    .mensaje .fecha_hora {
        color: #888;
    }
    .nuevo-mensaje {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .nuevo-mensaje textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .nuevo-mensaje button {
        align-self: flex-end;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .nuevo-mensaje button:hover {
        background-color: #45a049;
    }
    /* Estilos para el sub-header */
    .post-subtitle {
        background: linear-gradient(to bottom, coral, #ffcccb); /* Degradado de color */
        color: black;
        font-weight: bold;
        text-align: center;
        padding: 15px 0;
        margin-top: 0;
        margin-bottom: 20px;
        border-bottom: 1px solid coral; /* Línea sutil con la navbar */
        border-top: none; /* Sin borde redondeado en la parte superior */
    }
</style>
{% endblock bloque_estilos %}

{% block bloque_sub_header %}
    {% if request.user == intercambio.user_1 %}
        <h3 class="post-subtitle">
            {% if intercambio.user_2.get_full_name %}
                Conversación con {{ intercambio.user_2.get_full_name }} ({{ intercambio.user_2.username }})
            {% else %}
                Conversación con {{ intercambio.user_2.username }}
            {% endif %}
        </h3>
    {% else %}
        <h3 class="post-subtitle">
            {% if intercambio.user_1.get_full_name %}
                Conversación con {{ intercambio.user_1.get_full_name }} ({{ intercambio.user_1.username }})
            {% else %}
                Conversación con {{ intercambio.user_1.username }}
            {% endif %}
        </h3>
    {% endif %}
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
<div class="detalle-conversacion">
    {% for mensaje in mensajes %}
    <div class="mensaje {% if mensaje.de_user == request.user %}enviado{% else %}recibido{% endif %}">
        <div class="contenido">
            <p>{{ mensaje.mensaje }}</p>
            <p class="fecha_hora">Enviado el {{ mensaje.fecha_hora_enviado }}</p>
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'mensajes:home' %}" class="btn btn-outline-danger fst-italic">Volver a Mensajes</a>

    <div class="nuevo-mensaje">
        <form id="form-nuevo-mensaje" method="post" action="{% url 'mensajes:nuevo_mensaje' intercambio.id %}">
            {% csrf_token %}
            <textarea id="textarea-nuevo-mensaje" name="mensaje" placeholder="Escribe tu mensaje..." required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock bloque_contenido %}

{% block bloque_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('form-nuevo-mensaje');
        const textarea = document.getElementById('textarea-nuevo-mensaje');

        textarea.addEventListener('keypress', function(event) {
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();
                form.submit();
            }
        });
    });
</script>
{% endblock bloque_scripts %}
