{% extends 'core/base.html' %}
{% block bloque_header %}
    Editar Perfil del Usuario
{% endblock bloque_header %}
{% block bloque_contenido %}
    
<section class="bg-light">
    <div class="container">
        <form class="p-3 p-lg-4" action={% url 'usuarios:editar_perfil'  %} method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless col-md-5 fst-italic">
                {{ form.as_table }}
            </table>
            <div py-3 py-lg-4>
                <button class="btn btn-outline-primary fst-italic"><i class="bi bi-save2"></i> Guardar</button>
                <a class="btn btn-outline-danger fst-italic" href={% url 'usuarios:ver_perfil' %} role="button"><i class="bi bi-x-circle"></i> Cancelar</a>
            </div>
            
        </form>
    </div>
</section>
{% endblock bloque_contenido %}